<div class="landing">
    <h1>Welcome to MusicMates!</h1>
    <p class="app-description">
        Sync and share your music in real-time with friends, creating collaborative playlists and democratically controlling the vibe with a group voting feature. Join a room, queue songs, and enjoy a unified listening experience with those around you!
    </p>
    <div class="landing-buttons">
        <a href="/users/login">Login</a>
        {{!-- <a href="/users/register">Register</a> --}}
    </div>
</div>