{{!-- <link rel="stylesheet" href="../../public/css/forms.css"> --}}

<div class="login-form">
  <h2>LOGIN</h2>
  <form id="login-form" action="/users/login" method="POST">
    <label for="usernameInput">Username:</label>
    <input type="text" id="usernameInput" name="usernameInput"><br>

    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInput" name="passwordInput"><br>

    <input type="submit" value="Login">
  </form>
  
  {{!-- {{#if error}}
  <p>Username or Password is invalid</p>
  {{/if}}

  {{#if missing}}
  <p>{{missingFields}} cannot be empty</p>
  {{/if}} --}}
</div>

<a href="/users/register">Click here to register!</a>
