#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.heading {
  height: 60px; /* Set the desired fixed height */
  overflow: hidden;
}

.dashboard {
  color: white;
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-secondary {
  background-color: #ffffff;  
  color: #4CAF50;
}

/* Basic styling for form input fields */
.form-control {
  display: block;
  width: 25em;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Optional: Add focus styles */
.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Optional: Add styles for invalid input */
.form-control:invalid {
  border-color: #80bdff;
}



/*

h1 {
  font-size: 2em;
  Add more styling to match the design
}

h2 {
  font-size: 1.5em;
  
}

.room-code-input {
  margin: 20px 0;
  
}

.room-code-input input {
  margin-right: 10px;
  
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  
}

.create-room-button {
  /* Additional styling for the create room button if different from the join button 
}
 */
