#root {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: auto; /* Add scrolling if content overflows */
  padding: 0;
  margin: 0;
  background-color: #ffe4e1; /* Misty Rose background */
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #40e0d0aa); /* Turquoise shadow */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #ffe4e1; /* Misty Rose for cards */
}

.read-the-docs {
  color: #008080; /* Teal text */
}

.heading {
  height: 60px;
  overflow: hidden;
}

.dashboard {
  color: #ff7f50; /* Coral text */
  background-color: #008080; /* Teal background */
  text-align: center;
  padding: 20px;
}

button {
  background-color: #40e0d0; /* Turquoise buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff7f50; /* Coral on hover */
}

.button-secondary {
  background-color: #ffffff;  
  color: #008080; /* Teal text */
}

.form-control {
  display: block;
  width: 25em;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #008080; /* Teal text */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #40e0d0; /* Turquoise border */
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #ff7f50; /* Coral border on focus */
  box-shadow: 0 0 0 0.2rem rgba(255, 127, 80, 0.25); /* Coral glow */
}


.App-header {
  background-color: #008080; /* Teal background */
  padding: 20px;
  text-align: center;
  color: white;
}

.app-name {
  font-size: 2rem;
  color: #ff7f50; /* Coral text */
}

.app-name:hover {
  color: #40e0d0; /* Turquoise on hover */
  cursor: pointer;
}

@media (max-width: 600px) {
  .app-name {
    font-size: 1.5rem;
  }
}

.html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents scrolling outside the #root element */
}

.fullScreenComponent {
  height: 100vh;
  width: 100vw;
}
